!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/codemirror.css')
    link(rel='stylesheet', href='/stylesheets/codemirror_theme/monokai.css')
    link(rel='stylesheet', href='/stylesheets/application.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/jslint.js')
    script(src='/javascripts/codemirror.js')
    script(src='/javascripts/mode_javascript.js')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/application.js')
  body
    div
        header
            h1
                a(href="/") Reactive Scraper
        #content!= body