form#scraper_new(action="/scraper", method="POST")
  label(for="url") What's your target?
  input#url(name="url")
  input(type="submit", value="GO!")


aside
  h2 About
  h3
    em(style='color: red') Working in progress...
  p
    strong Reactive Scraper
    \is a easy way to scrape data in the web and share it. Reactive Scraper use only browser technology, this means you build your bot with Javascript, using
    a(href="http://api.jquery.com/") jQuery
    \.

  h3 How to
  p
    Basically you need know javascript language, we expose a method to send tour data, then you get your data and call the <code>document.save()</code>, this method expect a object with a one record by time, for example:
  p I want get the names and votes to person in a list, the html target may be it:
  script(src="https://gist.github.com/2662645.js?file=reactive_scraper_example.html")
  p In Reactive Scraper, I can write this code:
  script(src="https://gist.github.com/2662645.js?file=reactive_scraper_example.js")
